<div class="container">
  <footer class="footer">
    <small>
      16020 Linden Ave N, Shoreline, WA 98133-5672, USA
      <br>
      Phone: 206.365.1256| Toll Free: 877.318.8728 | Fax: 206.368.8790 | <a href="mailto:cservice@usbiotek.com">cservice@usbiotek.com</a>
    </small>
    <small>
      Copyright &copy; 2018 <a href="https://usbiotek.com">US BioTek</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
